<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.fair.dao.FairCreationDao">

	<!-- 목록생성  -->
	<insert id="fairSave">
		<selectKey resultType="int" keyProperty="fairNo" order="BEFORE">
			select ifnull(max(fair_no), 0) + 1
             from tb_fair
		</selectKey>
		insert 
			into tb_fair
				(
				fair_no
				,fair_title
				,fair_zipcode
				,fair_address1
				,fair_address2
				,fair_startdate
				,fair_enddate
				,fair_userNum
				,fair_location
				,reg_date
				,is_delete
				,loginID
				,fair_name
				,fair_companyNum
				,file_cd
				)
		values (
				#{fairNo}
				,#{fairname}
				,#{zip_code}
				,#{addr}
				,#{detAddr}
				,#{startdate}
				,#{enddate}
				,#{userNum}
				,#{location}
				,date_format(now(),"%Y-%m-%d")
				,2
				,#{loginId}
				,#{userNm}
				,#{booth}
				,#{filecd}
				)	
	</insert>
	
	<!-- 파일 저장 -->
	<insert id="fileNewSave">
		insert into tb_file
		(
		file_cd
		,file_type
		,file_size
		,file_name
		,file_nadd
		,file_madd
		) values (
		#{filecd}
		,#{file_type}
		,#{file_size}
		,#{file_name}
		,#{file_nadd}
		,#{file_madd}
		)
	</insert>
		
	<!-- 파일 코드 생성 -->
	<select id="fileCdCheck" resultType="int">
		select
			ifnull(max(file_cd),0) + 1
		FROM tb_file
	</select>
</mapper>
